html {
    background-color: aliceblue;
}

body {
    min-height: 100em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: rgb(53, 49, 49);
    background-color: white;
    border-top: 10px solid cornflowerblue;
    background-color: #ffffff;

}

nav {
    position: sticky;
    top: 0;

    ul {
        width: 100%;
        display: flex;
        justify-content: right;
        padding: 20px;
        background: white;
        
        li {
          list-style: none;
          margin-right: 20px;
          font-size: 25px;
          font-weight: bold;
          
          a {
            text-decoration:none;
            color: cornflowerblue;
          }
        }
      }
    }
}

h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
}

p {
    font-size: 1em;
    font-weight: 200;
}

blog {
    border-top: 1px solid #ccc;
}

.blog-post {
    border-top: 1px solid #ccc;
}

.float-right {
    float: right;
    margin: 10px;
    border: 5px solid cornflowerblue;
    box-shadow: 5px 5px 5px #ccc;
}

.float-left {
    float: left;
    margin: 10px;
    border: 5px solid cornflowerblue;
    box-shadow: 5px 5px 5px #ccc;
}